body {
  margin: 0;
  padding: 0;
  background: #000;
  font-family: 'Courier New', monospace;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.ws-display {
  padding: 0;
  background: #000;
}

.dev-outline {
  border: 1px solid red;
  background: #500;
}

#ws-avatar-display {
  padding: 0;
  background-color: #000;
  width: 100%;
  height: 15vh;
}

#ws-main-display {
  padding: 0;
  width: 100%;
  height: 75vh;
}

#ws-message-display {
  background-color: #000;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 10vh;
}
